* {
    box-sizing: border-box;
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    width: 100%;
  }
  a {
    color: inherit;
  }
  
  /* Page header starts */
  .page-header {
    min-width: 340px;
    width: 100%;
  }
  .date-col .date {
    display: none;
  }
  .page-header .header-bottom {
    display: none;
  }
  
  .page-header .header-top {
    width: 100%;
    position: relative;
  }
  
  .page-header .header-top .row .col {
    max-width: 50%;
    position: absolute;
    top: 8px;
    right: 25px;
  }